{% extends "base.html" %}

{% block content %}
<table class="table table-striped" style="table-layout:fixed;width:100%;">
    <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Seller</th>
            <th>Discount</th>
            <th>Total</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
        <tr>
            <th>{{ invoice.type }}</th>
            <th>{{ invoice.date_added|date }}</th>
            <th>
                <a class="link" href="{% url 'invoice.seller.view' invoice.seller.pk %}">{{ invoice.seller.name }}</a>
            </th>
            <td>{{ invoice.discount }}{{ invoice.currency.name }}</td>
            <th>{{ invoice.total }}{{ invoice.currency.name }}</th>
            <th><a href="{% url 'invoice.view' invoice.pk %}">View</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}