{% extends "base.html" %}
{% block content %}
    <div class="row" style="position: relative;min-height: 100vh">

        <div class="col-12">
            <div style="display:flex;justify-content: space-between;align-items: center;margin-bottom: 20px">
                <div>
                    <img src="{{ MEDIA_URL }}logo.png" alt="" width="200"/>
                    <h6 style="opacity: 0.8"><i>Where agronomy embress nature. </i></h6>
                </div>

                <div dir="rtl">
                    <h2> المتحدة للتجارة والإنتاج الزراعي</h2>
                    <h6 style="opacity: 0.8"><i>حيث تحتضن الزراعة الطبيعة </i></h6>
                    <div style="text-align: right;margin-top:20px">
                        <h6 style="font-size: 12px">رقم التسجيل في سجل التجارة : 3016686</h6>
                        <h6 style="font-size: 12px">رقم التسجيل في وزارة المالية : 3730963</h6>
                    </div>
                </div>
            </div>
            <h4 class="text-center" style="margin-bottom:10px">Invoice No. {{ invoice.pk }}</h4>

            <table class="table table-bordered" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th scope="col" style="width:5%">#</th>
                    <th scope="col" style="width:auto">Description</th>
                    <th scope="col" style="width:10%">Unit</th>
                    <th scope="col" style="width:10%">Unit / Weight</th>
                    <th scope="col" style="width:15%">Total Pieces</th>
                    <th scope="col" style="width:15%">One Piece Price</th>
                    <th scope="col" style="width:10%">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <a href="{% url 'product.edit' product.product.pk %}"><strong>{{ product.product.pk }}</strong></a>
                        </td>
                        <td>{{ product.product.name }}
                            ({{ product.quantity }} {{ product.quantity_type.name }}) {{ product.total_pices }}</td>
                        <td>{{ product.product.weight }}</td>
                        <td>{{ product.product.weight_value }}</td>
                        <td>{{ product.total_pices_count }}</td>
                        <td>{{ product.piece_price }}</td>
                        <th scope="row">{{ product.total }}{{ invoice.currency.name }}</th>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
        <div class="col-12">
            <table class="table table-bordered" style="table-layout:fixed;width:100%;">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Seller Name</th>
                    <th scope="col">Seller Phone</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ invoice.date_added|date:"Y-m-d" }}</td>

                    <td>{{ invoice.seller.name }}</td>
                    <td>{{ invoice.seller.phone }}</td>
                    <td>{{ invoice.discount }}{{ invoice.currency.name }}</td>
                    <td><strong>{{ invoice.total }}{{ invoice.currency.name }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12"
                 style="display: flex;justify-content: space-between;border: 1px solid #eee;align-items: center;padding:20px;padding-top:35px">
                <p style="padding-right:150px">Storekeeper Singurate : </p>
                <p style="padding-right:150px">Recipient Singurate : </p>
                <p style="padding-right:150px">Sales Man Singurate : </p>
            </div>
        </div>

    </div>
{% endblock %}