{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Selled (<span id="total" style="font-weight: bold"></span>)
                    <span> / Grand Saled quantity  (<span id="gr"></span>) </span>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Seller</th>
                            <th>Quantity</th>
                            <th>Extra Quantity</th>
                            <th>Piece Price From Stock</th>
                            <th>Piece Price Sale</th>
                            <th>Earned</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in si %}
                            <tr>
                                <td>{{ invoice.seller }}</td>
                                {% for product in invoice.invoiceproduct_set.all %}
                                    {% if product.product.pk == bproduct.id %}
                                        <td>{{ product.quantity }}</td>
                                        <td>{{ product.extra_quantity }}</td>
                                        <td>{{ bproduct.stock_price }}</td>
                                        <td>{{ product.piece_price }}</td>
                                        <td class="earn" stock-price="{{ bproduct.price }}"
                                            piece-price="{{ product.piece_price }}"
                                            extra-quantity="{{ product.extra_quantity }}"
                                            quantity="{{ product.quantity }}"
                                            quantity-type-value="{{ bproduct.quantity_type.value }}">

                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Purchased
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Seller</th>
                            <th>Piece Price</th>
                            <th>Total</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in pi %}
                            <tr>
                                <td>{{ invoice.seller }}</td>
                                {% for product in invoice.invoiceproduct_set.all %}
                                    {% if product.product.pk == bproduct.id %}
                                        <td>{{ product.piece_price }}</td>
                                        <td>{% widthratio product.piece_price 1 product.quantity %}</td>
                                        <td>{{ product.quantity }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let total = 0
            let totalQuantity = 0
            $.each($(".earn"), function () {
                let stock_price = parseFloat($(this).attr("stock-price"))
                let piece_price = parseFloat($(this).attr("piece-price"))
                let extra_quantity = parseFloat($(this).attr("extra-quantity"))
                let quantity = parseFloat($(this).attr("quantity"))
                let quantity_type_value = parseFloat($(this).attr("quantity-type-value"))
                {#    #}
                let totalPieceQuantity = (quantity * quantity_type_value) + extra_quantity
                let totalPriceFromStock = totalPieceQuantity * stock_price
                let totalPriceFromSale = totalPieceQuantity * piece_price
                let earn = totalPriceFromStock - totalPriceFromSale
                $(this).text(earn + "$")

                total += earn
                totalQuantity += (totalPieceQuantity / quantity_type_value)
            })
            $("#total").text(total + '$')
            $("#gr").text(totalQuantity)
        })
    </script>
{% endblock %}