{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Add Payment
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'seller.add_payment' seller.pk %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Add Payment</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header">History</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width:10%">Type</th>
                            <th style="width:10%">Total</th>
                            <th style="width:10%">Currency Rate</th>
                            <th style="width:10%">Discount</th>
                            <th style="width:10%">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>Invoice({{ invoice.type }})</td>
                                <td>{{ invoice.total }}{{ invoice.currency.name }}</td>
                                <td>{{ invoice.currency.rate }}</td>
                                <td>{{ invoice.discount }}{{ invoice.currency.name }}</td>
                                <td>{{ invoice.date_added|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                        {% for payment in payments %}
                            <tr>
                                <td>Payment ({{ payment.operation }})</td>
                                <td>{{ payment.amount }}{{ payment.currency.name }}</td>
                                <td>{{ payment.rate }}</td>
                                <td>-----</td>
                                <td>{{ payment.add_date|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Old Account</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th></th>
                    <th>{{ seller.old_account }}</th>
                    <th>{{ total }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}