{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div style="display: none">
        <table>
            <tbody>
            {% for invoice in invoices %}
                {% for product in invoice.invoiceproduct_set.all %}
                    <tr class="inv{{ invoice.id }}">
                        <td class='ss'>{{ product.product.id }}</td>
                        <td width="250px" class='ss'>{{ product.product.name }}</td>
                        <td class='ss'>{{ product.quantity }}</td>
                        <td class='ss'>{{ product.extra_quantity }}</td>
                        <td class='ss'>{{ product.piece_price }}</td>
                        <td class='ss'>{{ product.total }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row ">
        <div class="col-3 d-print-none">
            <div class="card">
                <div class="card-header">
                    Add Payment
                </div>
                <div class="card-body">
                    <form method="post" id="form" action="{% url 'seller.add_payment' seller.pk %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <label for="formFile" class="form-label">Payment image</label>
                        <input class="form-control" type="file" id="image">
                        <br>
                        <button type="submit" id="suB" class="btn btn-success">Add Payment</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="view">
            <div class="row">
                <form class="col-9" action="{% url 'seller.add_payment' seller.pk %}" method="get">
                    <div class="row ">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="from">Form</label>
                                <input type="date" id="from" name="from" class="df form-control"
                                       value="{{ request.GET.from }}">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="to">To</label>
                                <input type="date" name="to" id="to" class="df form-control"
                                       value="{{ request.GET.to }}">
                            </div>
                        </div>
                        <div class="col-4 d-print-none" style="margin-top: 30px">
                            <button class="btn btn-primary">Get History</button>
                        </div>
                    </div>
                </form>

                <form class="col-3" id="exportForm" action="{% url 'all_exports' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="model" value="5">
                    <input type="hidden" name="seller_id" value="{{ seller.pk }}">
                    <input type="hidden" name="from" value="{{ request.GET.from }}">
                    <input type="hidden" name="to" value="{{ request.GET.to }}">
                    <button type="submit" class="btn btn-secondary text-white mt-4">Export Data</button>
                </form>
            </div>
            <div class="card">
                <div class="card-header"><h3><strong>{{ seller.name }}</strong> Account Statement</h3></div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Total</th>
                            <th>Currency Rate</th>
                            <th>Discount</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody id="results">
                        {% for invoice in invoices %}
                            <tr class="sortable" onclick="clicked({{ invoice.id }})" id="{{ invoice.id }}">
                                <td><a href="{% url 'invoice.view' invoice.pk %}">#{{ invoice.pk }}</a></td>
                                <td style="width: 250px">Invoice({{ invoice.type }})
                                    {% if invoice.type == 'Return' %}
                                        [{{ invoice.old_type }}]
                                    {% endif %}
                                </td>
                                <td>{{ invoice.total }}{{ invoice.currency.name }}</td>
                                <td>---</td>
                                <td>{{ invoice.discount }}{{ invoice.currency.name }}</td>
                                <td>{{ invoice.date_added|date:"d/m/Y" }}</td>
                            </tr>

                        {% endfor %}
                        {% for payment in payments %}
                            <tr class="sortable">
                                <td>#{{ payment.pk }}</td>
                                <td>Payment ({{ payment.operation }})</td>
                                <td>{{ payment.amount }}{{ payment.currency.name }}</td>
                                <td>{{ payment.rate }}</td>
                                <td>---</td>
                                <td>{{ payment.add_date|date:"d/m/Y" }}</td>
                            </tr>
                        {% endfor %}
                        {% for discount in discounts %}
                            <tr class="sortable">
                                <td>#{{ discount.pk }}</td>
                                <td style="color:green;font-weight: 700">Special Discount</td>
                                <td>$</td>
                                <td>{{ discount.amount }}</td>
                                <td>---</td>
                                <td>{{ discount.add_date|date:"d/m/Y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-4 d-none">
                <div class="card-header">Other Statements</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Total</th>
                            <th>Currency Rate</th>
                            <th>Discount</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Old Account</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th></th>
                    <th id="oldaccount">{{ seller.old_account }}</th>
                    <th id="total">{{ total }}</th>
                </tr>
                </tbody>
            </table>
            <div class="card d-print-none">
                <div class="card-header">
                    All Transactions
                </div>
                <div class="card-body">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>All Saled Invoices</th>
                            <th>All Purchase Invoices</th>
                            <th>All Give Payments</th>
                            <th>All Take Payments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ ais }}</td>
                            <td>{{ aip }}</td>
                            <td>{{ apg }}</td>
                            <td>{{ apt }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <style>
        #div_id_image {
            display: none;
        }
    </style>
    <script>
        function convertDate(d) {
            var p = d.split("/");
            return +(p[2] + p[1] + p[0]);
        }

        function sortByDate() {
            var tbody = document.querySelector("#results");
            // get trs as array for ease of use
            var rows = [].slice.call(tbody.querySelectorAll(".sortable"));
            rows.sort(function (a, b) {
                return convertDate(a.cells[5].innerHTML) - convertDate(b.cells[5].innerHTML);
            });
            rows.forEach(function (v) {
                tbody.appendChild(v); // note that .appendChild() *moves* elements
            });
        }

        function clicked(el) {
            if ($(".invt" + el).length == 0) {
                let html = "<tr class='invt" + el + "' style='background: #3cbc8d'> <td class='ss'>#</td> <td class='ss'>Name</td><td class='ss'>Quantity</td><td class='ss'>Extra Quantity</td><td class='ss'>Piece price</td><td class='ss'>Total</td></tr>"
                $(".inv" + el).each(function () {
                    html += "<tr style='background: #3cbc8d' class='ss invt" + el + "'>" + $(this).html() + "</tr>"
                })
                $(event.target).parent().after(html)
            } else {
                document.querySelectorAll(".invt" + el).forEach(el => el.remove());
            }

        }

        sortByDate()

        $('document').ready(function () {
            $(".parent").click(function () {
                alert($(this).attr("id"))
            })
            let data = {
                "name": "{{ seller.name }}"
            }
            let _from = $("#from").val()
            let _to = $("#to").val()
            if (_from.length > 0 && _to.length > 0) {
                data["_from"] = _from
                data["_to"] = _to
            }
            $.ajax({
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                method: "POST",
                data: data,
                url: "https://sy.ac.almottahida.org{% url 'seller.remote_payments' %}"
            }).done(function (data) {
                data = JSON.parse(data)
                console.log(data)
                var html = ""
                for (let i = 0; i < data.length; i++) {
                    let invoice = data[i]
                    let type = invoice.fields.operation
                    let total = parseFloat(invoice.fields.amount)
                    let nowTotal = parseFloat($("#total").text())
                    if (type === "Give") {
                        nowTotal += total
                    } else {
                        nowTotal -= total
                    }
                    $("#total").text(nowTotal)
                    let d = invoice.fields.add_date
                    let bigd = new Date(d)
                    html += "<tr>"
                    html += "<td>" + invoice.pk + "</td>"
                    html += "<td>" + "Payment(" + invoice.fields.operation + ")" + "</td>"
                    html += "<td>" + invoice.fields.amount + "$" + "</td>"
                    html += "<td>" + "----" + "</td>"
                    html += "<td>" + "----" + "</td>"
                    html += "<td>" + bigd.getDay() + "-" + bigd.getMonth() + "-" + bigd.getFullYear() + "</td>"
                    html += "</tr>"
                }
                $("#tbody").html($("#tbody").html() + html)
            })

            $.ajax({
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                method: "POST",
                data: data,
                url: "https://sy.ac.almottahida.org{% url 'seller.remote_invoices' %}"
            }).done(function (data) {
                data = JSON.parse(data)
                var html = ""
                for (let i = 0; i < data.length; i++) {
                    let invoice = data[i]
                    let type = invoice.fields.type
                    let old_type = invoice.fields.old_type
                    let total = parseFloat(invoice.fields.total)
                    let discount = parseFloat(invoice.fields.discount)
                    let nowTotal = parseFloat($("#total").text())
                    console.log(type)
                    if (type === "Purchase") {
                        nowTotal -= total
                    }
                    if (type === "Sale") {
                        nowTotal += total
                    }
                    if (type === "Return") {
                        if (old_type === 'Sale') {
                            nowTotal -= total
                        }
                        if (old_type === 'Purchase') {
                            nowTotal += total
                        }
                    }
                    nowTotal -= discount
                    $("#total").text(nowTotal)
                    let d = invoice.fields.date_added
                    let bigd = new Date(d)
                    html += "<tr>"
                    html += "<td>" + invoice.pk + "</td>"
                    html += "<td>" + "Invoice(" + invoice.fields.type + ")" + "</td>"
                    html += "<td>" + invoice.fields.total + "</td>"
                    html += "<td>" + "----" + "</td>"
                    html += "<td>" + invoice.fields.discount + "</td>"
                    html += "<td>" + bigd.getDay() + "-" + bigd.getMonth() + "-" + bigd.getFullYear() + "</td>"
                    html += "</tr>"
                }
                $("#tbody").html($("#tbody").html() + html)
            })

            $("#suB").click(function (e) {
                e.preventDefault()
                const response = prompt("Are You Sure ?")
                if (response == "yes") {
                    $("#form").submit()
                } else {
                    alert("Give iza enta bddak ta3tih, take iza hwwi bddo ya3tik")
                }
            });
            $('#image').on('change', function () {
                var $files = $(this).get(0).files;

                if ($files.length) {
                    // Reject big files
                    if ($files[0].size > $(this).data('max-size') * 1024) {
                        console.log('Please select a smaller file');
                        return false;
                    }
                    console.log('Uploading file to Imgur..');
                    var apiUrl = 'https://api.imgur.com/3/image';
                    var apiKey = 'ee1ec982b2a8cb9';
                    var settings = {
                        async: false,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: apiUrl,
                        headers: {
                            Authorization: 'Client-ID ' + apiKey,
                            Accept: 'application/json',
                        },
                        mimeType: 'multipart/form-data',
                    };

                    var formData = new FormData();
                    formData.append('image', $files[0]);
                    settings.data = formData;
                    $.ajax(settings).done(function (response) {
                        $("#id_image").val(JSON.parse(response).data["link"])
                        alert("Image uploaded successfully")
                    });
                }
            });
        });
    </script>


    <style>
        #view {
            flex: 0 0 75%;
            max-width: 75%;
        }

        @media print {
            #view {
                flex: unset;
                max-width: unset;
                width: 100% !important;
                display: block
            }
        }

        .tmp {
            display: none;
        }

        .ss {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAkCAYAAAA5DDySAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABYSURBVGhD7dAxAQAhFIDQ7+Wyoo3sdi60gLews/Y9/4h9VKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVKsBVGrmASINAsw98tLUAAAAAElFTkSuQmCC");
        }
    </style>
{% endblock %}