{% extends "base.html" %}
{% block content %}
    <form action="{% url 'all_exports' %}" method="post">
    {% csrf_token %}
        <div class="row ">
            <div class="col-2">
                <div class="form-group">
                    <label for="from">Form</label>
                    <input required type="date" id="from" name="from" class="df form-control"
                           value="{{ request.GET.from }}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="to">To</label>
                    <input required type="date" name="to" id="to" class="df form-control"
                           value="{{ request.GET.to }}">
                </div>
            </div>
            <div class="col-2">
                <label for="model">Model</label>
                <select required name="model" id="model" class="form-control">
                    
                    <option value="1">Invoices</option>
                    <option value="2">Payments</option>
                    <option value="3">Daily Box</option>
                </select>
            </div>
            <div class="col-4 d-print-none" style="margin-top: 30px">
                <button class="btn btn-primary">Export CSV</button>
            </div>
        </div>
    </form>
{% endblock %}